@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Merriweather+Sans:700');

/*COLOR PALETTE:

Blu: #071443;
Orange: #ff613f;
Light-Gray: ; #ebebeb;
Cobalt-gray-dark: #70888c;
Cobalt-gray-light: #94a8ab;

*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Merriweather', serif;
	font-size: 16px;
	line-height: 1.4em;
	color: #071443;
}

p {
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather Sans', sans-serif;
	letter-spacing: 0.5px;
	color: #ff613f;
	padding-bottom: 1em;
}

h1{
	font-size: 2.5em;
	color: #071443;
	margin: 0.5em;
	text-align: center;
}

h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	/*margin: 1.5em;*/
}

h3 {
	font-size: 1.2em;
}

a {
	color: #ff613f;
	text-decoration: none;
}

header {
	color: #ebebeb;
	text-align: center;
	background: 
    url(../img/toms-restaurant.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	height: calc(100vw * 0.5);
	padding: 10em 0;}

header h1, header h2 {
	color: #ff613f;
	}

header h1 span, header h2 span { 
	padding: 0.5em;
    background: rgba(235,235,235,.8);
}

.clearfix:after, .single_project:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

button {
    padding: 0.8em 1em;
    background: #ff613f;
    color: #ebebeb;
    display: inline-block;
    margin-bottom: 1em;
    font-family:'Merriweather Sans', sans-serif;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
}

button:hover {
    background: #94a8ab;
    border: 1px solid #ebebeb;
}

#reservations, #reviews {
    background: #071443;
    color: #ebebeb;
    padding: 3em 6em;
}

#map-section {
    background: #ebebeb;
    padding: 3em 0 0;
    text-align: center;
}

#map {
    height: 20em;
	margin: 1em auto 0;

  }
   

.column {
	width: 50%;
	float: left;
	padding: 1em;
	}

.column img {
	width: 80%;
	}

form {
	width: 90%;

	}

input, .dropdown button {
	float: left;
	background: #ebebeb;
	width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 10px ;
    border: solid #94a8ab;
    color: #94a8ab;
    font-family: 'Merriweather', serif;
    text-transform: none;
	font-size: 1em;
	line-height: 1.5em;
	margin: 0 10% 0 0;
	}


.dropdown button {
	margin: 0 0 10%;
}

.dropdown {
    position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ebebeb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #071443;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #94a8ab}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.input-focus, .dropbtn:hover, .dropbtn:focus {
    border: solid #ff613f;
	}

button:focus, input:focus, button:active:focus, input:active:focus {  
outline: none;
 }

form button {
	width: 100%;
	}

th, td {
    padding: 0.5em;
    width: 40%;s
}

th {
	text-transform: uppercase;
	text-align: left;
}

::placeholder {
color: red;
}
