@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
}

#intro {
	color: #fff;
	text-align: center;
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.9)
    ),
    url(../images/hero2.jpg);
	background-size: cover;
	/* height: 95vh; */
	padding: 10em 0;
}

#intro p {
	font-style: italic;
	font-weight: 100;
	font-size: 30px;
	margin-top: 20px;
}

nav {
	/* background-color: #000; */
	text-align: center;
	padding: 30px;
	float: right;
}

nav a {
	color: #ccc;
	margin-right: 30px;
	font-style: bold;
	text-transform: uppercase;
	text-decoration: none;
}

img {
	width: 25%;
}

footer {
	background: #000;
	color: #ccc;
	text-align: center;
	padding: 20px;
}
header img {
    width: 5em;
    float: left;
}
.cta {
    padding: 1em 2em;
    background: purple;
    color: #fff;
    display: inline-block;
    margin-top:1em;
    text-decoration:none;
}
