/*@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
COLOR PALETTE:

Mustard: #B68817;
Asphalt: #424244;
Indigo: ; #2C424C;
Licorice: #171615;

*/
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:300');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.4em;
	color: #424244;
}

p {
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
	letter-spacing: 1px;
	color: #2C424C;
	padding-bottom: 1em;
	font-weight: bold;
}

h1{
	text-align: center;
	font-size: 2em;
}

h2 {
/*	color: #B68817;*/
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}


a {
	color: #B68817;
	text-decoration: none;
}

img {
	width: 25%;
}

nav {
	/* background-color: #171615; */
	text-align: center;
	padding: 30px;
	float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

footer {
	background: #171615;
	color: #ccc;
	text-align: center;
	padding: 20px;
}

footer hr{
	margin: auto;
	margin-bottom: 0.5em;

}

nav a {
	color: #fff;
	margin-right: 40px;
	font-family:'Roboto Slab', serif;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	border-bottom: 2px solid #fff;
	padding: 5px 10px; 
/*	display: block; --> for vertical navigation */
}

nav a:hover {
	background-color: #B68817;
	border-bottom: 2px solid #B68817;
	border-top: 2px solid #B68817;
}


header img {
    width: 15em;
    margin-top: 7.5px;
    float: left;
}

.cta {
    padding: 0.5em 1em;
    background: #2C424C;
    color: #fff;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 2em;
    text-decoration: none;
    text-align: center;

}

/* Why the hover is not applied to all te .cta (also the the one in the intro at line 125)? */

.cta:hover {
    background: #424244;
    color: #fff;
}

#intro {
	color: #fff;
	text-align: center;
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.9)
    ),
    url(../images/hero2.jpg);
	background-size: cover;
	/* height: 95vh; */
	padding: 10em 0;
}

#intro .cta {
    padding: 1em 2em;
    background: #B68817;
    color: #fff;
    display: inline-block;
    margin-top:1em;
    text-decoration:none;
}

#intro h1 {
	margin-top: 20px;
	color: #fff;
}
  
#services {
	width: 900px;
	margin: 0 auto;
	padding: 2em 0;
}

#services div {
	width: 280px;
  	padding: 10px;
  	margin: 0 10px;
	float: left;
}

#services img {
	height: 100px;
	width: auto;
}

#services h3 {
}

hr{
	margin-bottom: 0.5em;
	border: none;
	height: 0.5em;
	background-color: #B68817;
	width: 1em;
}

#projects {
	width: 900px;
	background: #BEBDBD;
	clear: left;
	padding: 2em 0;
	margin: 0 auto;
}

.single_project {
}

.single_project div {
	width: 300px;
	height: 400px;
  	padding: 30px;	
  	background: #424244;
	color: #fff;
	float:left;
}

.single_project h3 {
	color: #fff;
}


#projects img {
	width: 600px;
	margin: 0;
}

#P2, #P4 {
		background: #2C424C;
}

#brands {
background: #424244;
padding: 2em 6em;
}

#brands h2 {
	color: #fff;
}

#brands img {
	height: 50px;
	width: auto;
	margin: 2em;
}

footer{
	padding: 1em;
}

footer h3 {
	color: #fff;
	text-transform: uppercase;
}

footer img {
	width: 10em;
	}


#cr {
	color: #424244;
	font-size: 14px;
}